<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phonebook</title>
</head>

<body>
    <div>
        <h2>
            <%= title %>
        </h2>
        <p>This phonebook currently has information for <b>
                <%= count %>
            </b> people.</p>
        <code><%= currentDate %></code>
    </div>
</body>

</html>